#Core 
numpy
pandas
scikit-learn
streamlit

#Deep Learning
torch 
torchvision


#NLP
nltk
spacy
sentence-transformers
transformers

#Notebooks
jupyter
notebook

# API / Production
fastapi
uvicorn[standard]
python-dotenv
pytest